.mails-thumbnail {
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: background linear 100ms;

  >.infos {
    width: calc(100% - 100px);

    >p {
      color: $text;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.name {
        font-weight: bold;
      }

      &.subject {
        margin-top: 5px;
      }

    }

  }

  >.metas {
    width: 100px;
    display: flex;
    justify-content: flex-end;

    >p {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $medium-grey;
    }

  }

  .router-link-active & {
    background: $text;

    >.infos {
      >p {
        color: white;
      }
    }
  }

}
